# Ignore database
db.sqlite3

# Ignore Django migrations (optional)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Ignore environment files
.env
*.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
